<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cinema</title>
    <div th:replace="~{fragments/header :: header}"></div>
</head>
<body class="bg-light">
<!-- Навигационное меню -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Cinema</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav me-auto">
                <!--                    <a class="nav-item nav-link active" href="/">Главная</a>-->
                <a class="nav-item nav-link" th:href="@{/sessions}">Sessions</a>
                <a class="nav-item nav-link" th:href="@{/films}">Movies</a>
            </div>
        </div>
        <div class="d-flex" th:if="${user.fullName == 'Гость'}">
            <a class="nav-link text-secondary  me-3" th:href="@{/users/register}">Sign up</a>
            <a class="nav-link text-secondary" th:href="@{/users/login}">Login</a>
        </div>
        <div class="d-flex" th:if="${user.fullName != 'Гость'}">
            <a class="nav-link text-secondary me-3" href="#" th:text="${user.fullName}"></a>
            <a class="nav-link text-secondary" th:href="@{/users/logout}">Log out</a>
        </div>
    </div>
</nav>

<!-- Основной контент -->
<div class="container index">
    <h2 class="text-center main-title">Project job4j_cinema</h2>
    <div class="list-group">
        <a th:href="@{/sessions}" class="list-group-item list-group-item-action">
            Sessions
        </a>
        <a th:href="@{/films}" class="list-group-item list-group-item-action">
            Movies
        </a>
    </div>
</div>

<footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>
